$color-black: #3F3F3F;

$color-white: #FFFFFF;

$color-lightgray: #FCFCFC;

$color-darkgray: #e1e5ed;

$color-blue: #0064C8;

$color-scndblue: #67CBDF;

$color-bluethree: #5CB5DD;

$color-trdblue: #C8E1FA;
