<section class="container-fluid">
	<div class="container">
		<div class="row">

			<div class="col col--8-of-12 col col--centered blockchainillustration">
				<div class="introduction">
					<h1>DENTACOIN:<br>
							The Blockchain Platform
							for the Global Dental Industry
					</h1>
					<p>Dentacoin offers a platform, designed to improve dental care and make
						it affordable through numerous smart Blockchain-based solutions and an
						industry-specific currency (Dentacoin ERC20 token).
					<a class="innerlinks" href="#">More</a>
					</p>
				</div>
				<div class="introvideo">
					<video class="responsive-video" id="video" controls="" loop="" width="100%" height="auto" poster="video/poster.png">
					<source src="video/Dentacoin - Introduction.mp4" type="video/mp4">
					<p>Video is not visible, most likely your browser does not support HTML5 video</p>
					</video>
				</div>
			</div>

		</div>
	</div>
</section>
