<section class="container-fluid">
	<div class="container contentwrap">

			<div class="row">
				<div class="col col--4-of-12 col col--centered">
					<h2>Join the Platform and Earn FREE Dentacoin Tokens!</h2>
				</div>
			</div>

				<!-- <div class="row">
					<div class="col col--4-of-12 col col--centered">
						<img class="img-responsive" style="margin: 30px auto;" src="img/1.png" alt="Lead Illustration">
					</div>
				</div> -->

				<div class="row">
					<div class="col col--4-of-12 col col--centered">
						<h3>35K+ active users</h3>
					</div>
				</div>

				<div class="row">

					<div class="col col--3-of-12 col col--m-1-of-2 col col--s-1-of-2 foo">
						<img class="img-responsive icons" src="img/dentist_icon.svg" alt="App Icon">
						<h4>
							My Dentist
						</h4>
						<div class="infobox">
						<p class="infotxt">
Find your dentist & communicate seamlessly.
						</p>
						</div>
					</div>

					<div class="col col--3-of-12 col col--m-1-of-2 col col--s-1-of-2 foo">
						<img class="img-responsive icons" src="img/dentavox_icon.svg" alt="App Icon">
						<h4>
							DentaVox
						</h4>
						<div class="infobox">
						<p class="infotxt">
Take various surveys and get rewarded every time!
<!-- <a class="innerlinks" href="#">Start</a> -->
						</p>
						</div>
					</div>

					<div class="col col--3-of-12 col col--m-1-of-2 col col--s-1-of-2 foo">
						<img class="img-responsive icons" src="img/trusted_reviews_icon.svg" alt="App Icon">
						<h4>
							Trusted Reviews
						</h4>
						<div class="infobox">
						<p class="infotxt">
Give trusted, detailed & rewared feedback!
						</p>
					</div>
					</div>

					<div class="col col--3-of-12 col col--m-1-of-2 col col--s-1-of-2 foo">
						<img class="img-responsive icons" src="img/dentacare_icon.svg" alt="App Icon">
						<h4>
							Dentcare
						</h4>
						<div class="infobox">
						<p class="infotxt">
Your mobile guide to proper dental care!
<!-- <a class="innerlinks" href="#">Download</a> -->
						</p>
						</div>
					</div>

				</div>


				<div class="row">
					<div class="col col--3-of-12 col col--m-1-of-2 col col--s-1-of-2 foo">
						<img class="img-responsive icons" src="img/buy_DCN_icon.svg" alt="App Icon">
						<h4>
							Buy Dentacoin
						</h4>
						<div class="infobox">
						<p class="infotxt">
Directly with a card & exchange it to 100+ altcoins.
<!-- <a class="innerlinks" href="#">Here</a> -->
						</p>
						</div>
					</div>
					<div class="col col--3-of-12 col col--m-1-of-2 col col--s-1-of-2 foo">
						<img class="img-responsive icons" src="img/wallet_icon.svg" alt="App Icon">
						<h4>
							My Wallet
						</h4>
						<div class="infobox">
						<p class="infotxt">
Manage your Dentacoin tokens.
<!-- <a class="innerlinks" href="#">Here</a> -->
						</p>
						</div>
					</div>
					<div class="col col--3-of-12 col col--m-1-of-2 col col--s-1-of-2 foo">
						<img class="img-responsive icons" src="img/global_partners_icon.svg" alt="App Icon">
						<h4>
							Global Network
						</h4>
						<div class="infobox">
						<p class="infotxt">
Find all Dentacoin partner clinics.
						</p>
						</div>
					</div>
					<div class="col col--3-of-12 col col--m-1-of-2 col col--s-1-of-2 foo">
						<img class="img-responsive icons" src="img/blog_icon.svg" alt="App Icon">
						<h4>
							Blog
						</h4>
						<div class="infobox">
						<p class="infotxt">
See all news firsthand & sign up for updates.
						</p>
					</div>
					</div>
				</div>

				<div class="row">
					<div class="col col--4-of-12 col col--centered moved">
						<p class="question">Don’t have an account?</p>
						 <button href="login.html" class="ctabutton">Register</button>
					</div>
				</div>

	</div>
</section>
