<section class="container-fluid">
	<div class="container contentwrap">


				<div class="row">

					<div class="col col--3-of-12 col col--m-1-of-2 col col--s-1-of-2 foo">
						<img class="img-responsive icons" src="img/dentist_icon.svg" alt="App Icon">
						<h4>
							My Dentist
						</h4>
					</div>

					<div class="col col--3-of-12 col col--m-1-of-2 col col--s-1-of-2 foo">
						<img class="img-responsive icons" src="img/dentavox_icon.svg" alt="App Icon">
						<h4>
							DentaVox
						</h4>
					</div>

					<div class="col col--3-of-12 col col--m-1-of-2 col col--s-1-of-2 foo">
						<img class="img-responsive icons" src="img/trusted_reviews_icon.svg" alt="App Icon">
						<h4>
							Trusted Reviews
						</h4>
					</div>

					<div class="col col--3-of-12 col col--m-1-of-2 col col--s-1-of-2 foo">
						<img class="img-responsive icons" src="img/dentacare_icon.svg" alt="App Icon">
						<h4>
							Dentcare
						</h4>
					</div>

				</div>


				<div class="row">
					<div class="col col--3-of-12 col col--m-1-of-2 col col--s-1-of-2 foo">
						<img class="img-responsive icons" src="img/buy_DCN_icon.svg" alt="App Icon">
						<h4>
							Buy Dentacoin
						</h4>
					</div>
					<div class="col col--3-of-12 col col--m-1-of-2 col col--s-1-of-2 foo">
						<img class="img-responsive icons" src="img/wallet_icon.svg" alt="App Icon">
						<h4>
							My Wallet
						</h4>

					</div>
					<div class="col col--3-of-12 col col--m-1-of-2 col col--s-1-of-2 foo">
						<img class="img-responsive icons" src="img/global_partners_icon.svg" alt="App Icon">
						<h4>
							Global Network
						</h4>

					</div>
					<div class="col col--3-of-12 col col--m-1-of-2 col col--s-1-of-2 foo">
						<img class="img-responsive icons" src="img/blog_icon.svg" alt="App Icon">
						<h4>
							Blog
						</h4>
					</div>
				</div>


	</div>
</section>
