<section class="container-fluid">
	<div class="container contentwrap">


		<div class="row">

			<div class="col col--3-of-12 col col--m-1-of-2 col col--s-1-of-2 foo">
				<img class="img-responsive icons" src="img/dentist_icon.svg" alt="App Icon">
				<h3>
					My Dentist
				</h3>
			</div>

			<div class="col col--3-of-12 col col--m-1-of-2 col col--s-1-of-2 foo">
				<img class="img-responsive icons" src="img/dentavox_icon.svg" alt="App Icon">
				<h3>
					DentaVox
				</h3>
			</div>

			<div class="col col--3-of-12 col col--m-1-of-2 col col--s-1-of-2 foo">
				<img class="img-responsive icons" src="img/trusted_reviews_icon.svg" alt="App Icon">
				<h3>
					Trusted Reviews
				</h3>
			</div>

			<div class="col col--3-of-12 col col--m-1-of-2 col col--s-1-of-2 foo">
				<img class="img-responsive icons" src="img/dentacare_icon.svg" alt="App Icon">
				<h3>
					Dentcare
				</h3>
			</div>

		</div>


		<div class="row">
			<div class="col col--3-of-12 col col--m-1-of-2 col col--s-1-of-2 foo">
				<img class="img-responsive icons" src="img/buy_DCN_icon.svg" alt="App Icon">
				<h3>
					Buy Dentacoin
				</h3>
			</div>
			<div class="col col--3-of-12 col col--m-1-of-2 col col--s-1-of-2 foo">
				<img class="img-responsive icons" src="img/wallet_icon.svg" alt="App Icon">
				<h3>
					My Wallet
				</h3>

			</div>
			<div class="col col--3-of-12 col col--m-1-of-2 col col--s-1-of-2 foo">
				<img class="img-responsive icons" src="img/global_partners_icon.svg" alt="App Icon">
				<h3>
					Global Network
				</h3>

			</div>
			<div class="col col--3-of-12 col col--m-1-of-2 col col--s-1-of-2 foo">
				<img class="img-responsive icons" src="img/blog_icon.svg" alt="App Icon">
				<h3>
					Blog
				</h3>
			</div>
		</div>


	</div>
</section>
