<section>
	<div class="container">
		<div class="row">
				<div class="col col--6-of-12 col col--centered">
					<h2>Get in Touch With Our Team and Schedule a Live Demonstration of Pricelens Core Advantages!
					</h2>
				</div>
		</div>
	</div>
	<div class="space"></div>

	<div class="container">
		<div class="row">
			<div class="col col--12-of-12">
				<p class="center_txt lesspadding ">Your demo includes how to:
				</p>
					<ul class="demooptions nopadding">
						<li>Track and analyze competitor’s offers</li>
						<li>Monitor bundle offers (device + tariff plan)</li><br>
						<li>SIM-free market</li><br>
					</ul>
					<ul class="demooptions">
						<li>Research and analyze the market</li>
						<li>Optimize your portfolio</li><br>
						<li>Set up email reports</li>
					</ul>
			</div>
		</div>
	</div>
		<div class="container">
			<div class="row">
			<div class="col col--12-of-12">
				<p class="center_txt formtitle">Fill the form to request a demo:
				</p>
			<form id="contactform" method="POST">
				<!--  <label for="contact-name">Name:</label> -->
				<input type="text" name="name" placeholder="Name" required><br>
			  <!-- <label for="contact-email">email:</label> -->
			  <input type="text" name="_replyto" placeholder="Email" required><br>
				<!-- <label for="contact-name">Job Title:</label> -->
			  <input type="text" name="name" placeholder="Job Title" required><br>
				<!-- <label for="contact-name">Company:</label> -->
			  <input type="text" name="name" placeholder="Company" required><br>
				<!-- <label for="contact-name">Phone Number:</label> -->
			  <input type="text" name="name" placeholder="Phone number" required><br>
				<input type="hidden" name="_subject" value="Website Form" />
				<input type="hidden" name="_next" value="thankyou.html" />
				<!-- <label for="contact-message">message</label> -->
				<br>
				<input type="text" name="_gotcha" style="display:none" />
			  <button class="demobtnwide centerbtn" type="submit" value="REQUEST&nbsp;A&nbsp;DEMO">REQUEST&nbsp;A&nbsp;DEMO"</button>
			</form>
			<script>
			    var contactform =  document.getElementById('contactform');
			    contactform.setAttribute('action', '//formspree.io/' + 'addmail' + '@' + 'whatever' + '.' + 'com');
			</script>
	</div>
		</div>
		</div>
<div class="container">
	<div class="row">
		<div class="col col--12-of-12">
			<h6>Not ready for a live demo?
					<br>Have questions?
			</h6>
			<p class="center_txt nopadding">Let our team help you get the answers you need.<br>
				Get in touch at <a href="mailto:sales@pricelens.com" target="_top" class="ilinks">sales@pricelens.com</a> or call <a href="tel:+359899940717" class="ilinks">+359&nbsp;899&nbsp;940&nbsp;717</a>
			</p>
		</div>
	</div>
</div>
</section>
