
</main>
<footer class="container">

		<div class="row">
			<div class="col col--12-of-12">
				<p class="copyright">
					© Dentacoin Foundation. All rights reserved. |&nbsp;<a href="#" class="innerlinks">Privacy&nbsp;Policy</a> | <a href="#" class="innerlinks">Terms&nbsp;of&nbsp;Use</a>
				</p>
			</div>
		</div>

</footer>

<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
<script type="text/javascript">
window.sr = ScrollReveal();
sr.reveal('.foo');
sr.reveal('.bar');
sr.reveal('.foo', { duration: 1000 });
</script>

</body>
</html>
