
</main>
<footer class="container">

		<div class="row">
			<div class="col col--12-of-12">
				<p class="copyright">
					© Dentacoin Foundation. All rights reserved. | <a href="#" class="innerlinks">Privacy Policy</a> | <a href="#" class="innerlinks">Terms of Use</a>
				</p>
			</div>
		</div>

</footer>

<!-- RESPONSIVE NAV -->
<script type="text/javascript">
/* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
function openNav() {
    document.getElementById("mySidenav").style.width = "200px";
    document.getElementById("main").style.marginLeft = "100px";
}

/* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft = "0";
}
</script>

<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
<script type="text/javascript">
window.sr = ScrollReveal();
sr.reveal('.foo');
sr.reveal('.bar');
sr.reveal('.foo', { duration: 1000 });
</script>

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

</body>
</html>
