<!DOCTYPE html>
<html lang="en">
<head>
<!-- @reload -->
	<meta charset="utf-8">
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
	<title><!-- $title --></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Dentacoin">
	<meta name="author" content="Lyudmil Dachev">
	<!-- Le styles -->
	<link href="css/platform.css" rel="stylesheet">
	<style>
	/* Ensure elements load hidden before ScrollReveal runs */
	.sr .fooReveal { visibility: hidden; }
	/* add perspective to your container */
	.fooContainer { perspective: 800px; }
</style>
</head>

<body class="Site">
	<main class="Site-content">
