<div class="container">
	<div class="row">
		<div class="col col--12-of-12">
			<div class="spacetwo"></div>
			<h2>Log In:</h2>
				<form class="narrow">
					<!-- <label for="contact-name">Username:</label> -->
					<input type="text" name="name" placeholder="username" required><br>
					<!-- <label for="password">Password:</label> -->
					<input type="password" name="psw" placeholder="password" required><br>
					<button class="submit" type="submit" value="Log In">Log In</button>
					<a href="#" class="flinks colorblue center_txt">Forgotten Password</a>
				</form>
		</div>
	</div>
	<div class="space"></div>
	<div class="row">
		<div class="col col--12-of-12">
			<h6 class="center_txt">Don't Have an Acount?</h6>
				<p class="center_txt"><a href="demo.html" class="ilinks">Request a Demo</a></p>
	</div>
	</div>
</div>
