<nav class="container-fluid">

    <div class="row foo">
        <div class="col col--2-of-12 col col--m-1-of-2 col col--s-1-of-2">
          <a href="index.html" class="logo">Go Home</a>
        </div>
        <div class="col col--10-of-12 col col--m-1-of-2 col col--s-1-of-2">
    			<ul>
    				<!-- <li class="hideonphone"><a href="#">Register</a> -->
            <li class="hideonphone">
              <button onclick="document.getElementById('id01').style.display='block'" class="btnregister">Register</button>
            </li>
    				<li class="hideonphone"><a href="login.html">Log In</a></li>
            <!-- Use any element to open the sidenav -->
            <li><span class="hamburger" onclick="openNav()">&#9776;</span></li>
    			</ul>
        </div>
  	</div>

<!-- SIDE NAV -->
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="#">Buy DCN</a>
      <a href="#">Wallet</a>
      <a href="#">Blog</a>
      <a href="#">Team</a>
      <a href="#">White paper</a>
      <a href="#">DCN press center</a>
      <a href="login.html">Log in</a>
      <button onclick="document.getElementById('id01').style.display='block'" class="sidebtnregister">Register</button>
    </div>

</nav>
