<section class="container-fluid contentwrap backgroundroadmap">
	<div class="container">
		<div class="row">
			<div class="col col--4-of-12 col col--centered">
				<h2 class="timelinetitle">Timeline:<br>Solutions Transforming the Future of Dentistry.</h2>
			</div>
		</div>

<div class="line foo">
		<div class="row">
			<div class="col col--3-of-12 col col--push-3-of-12 col col--m-1-of-2 col col--s-1-of-2 foo">
				<div class="version version_l">
					<h6>v.1</h6>
				</div>
				<div class="roadmapbox">
					<h4 class="right_txt">February 2017:</h4>
					<p class="roadmapinfo right_txt">Dentacoin ERC20 Token released</p>
				</div>
			</div>

			<div class="col col--3-of-12 col col--m-1-of-2 col col--s-1-of-2 foo">
				<div class="version version_r">
					<h6>v.2</h6>
				</div>
				<div class="roadmapbox">
					<h4 class="left_txt">March 2017:</h4>
					<p class="roadmapinfo left_txt">Dentacoin Foundation established</p>
				</div>
			</div>
			<div class="col col--3-of-12 col col--push-3-of-12 col col--m-1-of-2 col col--s-1-of-2 foo">
				<div class="version version_l">
					<h6>v.3</h6>
				</div>
				<div class="roadmapbox">
					<h4 class="right_txt">July 2017:</h4>
					<p class="roadmapinfo right_txt">Initial Public Presale (16.2 billion DCN, 8000 contributors)</p>
				</div>
			</div>

			<div class="col col--3-of-12 col col--m-1-of-2 col col--s-1-of-2 foo">
				<div class="version version_r">
					<h6>v.4</h6>
				</div>
				<div class="roadmapbox">
					<h4 class="left_txt">August 2017:</h4>
					<p class="roadmapinfo left_txt">Dentacoin Trusted Reviews</p>
				</div>
			</div>
			<div class="col col--3-of-12 col col--push-3-of-12 col col--m-1-of-2 col col--s-1-of-2 foo">
				<div class="version version_l">
					<h6>v.5</h6>
				</div>
				<div class="roadmapbox">
					<h4 class="right_txt">October 2017:</h4>
					<p class="roadmapinfo right_txt">Initial Coin Offering (17.9 billion DCN, 10000 contributors)</p>
				</div>
			</div>

			<div class="col col--3-of-12 col col--m-1-of-2 col col--s-1-of-2 foo">
				<div class="version version_r">
					<h6>v.6</h6>
				</div>
				<div class="roadmapbox">
					<h4 class="left_txt">November 2017:</h4>
					<p class="roadmapinfo left_txt">DentaVox Market Research Platform</p>
				</div>
			</div>
			<div class="col col--3-of-12 col col--push-3-of-12 col col--m-1-of-2 col col--s-1-of-2 foo">
				<div class="version version_l">
					<h6>v.7</h6>
				</div>
				<div class="roadmapbox">
					<h4 class="right_txt">November 2017:</h4>
					<p class="roadmapinfo right_txt">DentaCare Mobile App</p>
				</div>
			</div>

			<div class="col col--3-of-12 col col--m-1-of-2 col col--s-1-of-2 foo">
				<div class="version version_r">
					<h6>v.8</h6>
				</div>
				<div class="roadmapbox">
					<h4 class="left_txt">April 2018:</h4>
					<p class="roadmapinfo left_txt">Dentacoin Integrated Platform</p>
				</div>
			</div>
			<div class="col col--3-of-12 col col--push-3-of-12 col col--m-1-of-2 col col--s-1-of-2 foo">
				<div class="version version_l">
					<h6>v.9</h6>
				</div>
				<div class="roadmapbox">
					<h4 class="right_txt">December 2018:</h4>
					<p class="roadmapinfo right_txt">Dentacoin Assurance</p>
				</div>
			</div>

			<div class="col col--3-of-12 col col--m-1-of-2 col col--s-1-of-2 foo">
				<div class="version version_r">
					<h6>v.10</h6>
				</div>
				<div class="roadmapbox">
					<h4 class="left_txt">March 2019«»:</h4>
					<p class="roadmapinfo left_txt">Dental Health Database</p>
				</div>
			</div>
		</div>

		</div>

</div>
<div class="space"></div>
	</div>
</section>
