<section class="container-fluid contentwrap backgroundroadmap">
	<div class="container">
		<div class="row">
			<div class="col col--4-of-12 col col--centered">
				<h2 class="color_w">Timeline:<br>Solutions Transforming the Future of Dentistry.</h2>
			</div>
		</div>


		<div class="row">
			<div class="col col--3-of-12 col col--centered">

				<div class="version">
					<h6>v.1</h6>
				</div>
				<div class="roadmapbox box">
					<h4>February 2017:</h4>
					<p class="roadmapinfo">Dentacoin ERC20 Token released</p>
				</div>

				<div class="version">
					<h6>v.2</h6>
				</div>
				<div class="roadmapbox box">
					<h4>March 2017:</h4>
					<p class="roadmapinfo">Dentacoin Foundation established</p>
				</div>

				<div class="version">
					<h6>v.3</h6>
				</div>
				<div class="roadmapbox box">
					<h4>July 2017:</h4>
					<p class="roadmapinfo">Initial Public Presale (16.2 billion DCN, 8000 contributors)</p>
				</div>

				<div class="version">
					<h6>v.4</h6>
				</div>
				<div class="roadmapbox box">
					<h4>August 2017:</h4>
					<p class="roadmapinfo">Dentacoin Trusted Reviews</p>
				</div>

				<div class="version">
					<h6>v.5</h6>
				</div>
				<div class="roadmapbox box">
					<h4>October 2017:</h4>
					<p class="roadmapinfo">Initial Coin Offering (17.9 billion DCN, 10000 contributors)</p>
				</div>

				<div class="version">
					<h6>v.6</h6>
				</div>
				<div class="roadmapbox box">
					<h4>November 2017:</h4>
					<p class="roadmapinfo">DentaVox Market Research Platform</p>
				</div>

				<div class="version">
					<h6>v.7</h6>
				</div>
				<div class="roadmapbox box">
					<h4>November 2017:</h4>
					<p class="roadmapinfo">DentaCare Mobile App</p>
				</div>

				<div class="version">
					<h6>v.8</h6>
				</div>
				<div class="roadmapbox box">
					<h4>April 2018:</h4>
					<p class="roadmapinfo">Dentacoin Integrated Platform</p>
				</div>

				<div class="version">
					<h6>v.9</h6>
				</div>
				<div class="roadmapbox box">
					<h4>December 2018: </h4>
					<p class="roadmapinfo">Dentacoin Assurance</p>
				</div>

				<div class="version">
					<h6>v.10</h6>
				</div>
				<div class="roadmapbox box">
					<h4>March 2019: </h4>
					<p class="roadmapinfo">Dental Health Database</p>
				</div>

			</div>
		</div>


	</div>
</section>
