<section class="container-fluid contentwrap backgroundroadmap">
	<div class="container">
		<div class="row">
			<div class="col col--4-of-12 col col--centered">
				<h2>Timeline:<br>Solutions Transforming the Future of Dentistry.</h2>
			</div>
		</div>


		<div class="row">

			<div class="col col--12-of-12 col col--centered contentwrap">

				<div class="row">
					<div class="col col--4-of-12">
						<div class="roadmapbox box">
							<img class="img-responsive iconroadmap" src="img/icon_roadmap_done.svg" alt="App Icon">
							<h5>v.1:<br>February 2017:</h5>
					<p class="roadmapinfo">Dentacoin ERC20 Token released</p>
				</div>
			</div>

<div class="col col--4-of-12">
				<div class="roadmapbox box">
					<img class="img-responsive iconroadmap" src="img/icon_roadmap_done.svg" alt="App Icon">
					<h5>v.2:<br>March 2017:</h5>
					<p class="roadmapinfo">Dentacoin Foundation established</p>
				</div>
</div>
</div>

<div class="row">
<div class="col col--4-of-12">
				<div class="roadmapbox box">
					<img class="img-responsive iconroadmap" src="img/icon_roadmap_done.svg" alt="App Icon">
					<h5>v.3:<br>July 2017: </h5>
					<p class="roadmapinfo">Initial Public Presale (16.2 billion DCN, 8000 contributors)</p>
				</div>
</div>

<div class="col col--4-of-12">
				<div class="roadmapbox box">
					<img class="img-responsive iconroadmap" src="img/icon_roadmap_done.svg" alt="App Icon">
					<h5>v.4:<br>August 2017: </h5>
					<p class="roadmapinfo">Dentacoin Trusted Reviews</p>
				</div>
</div>
</diV>

<div class="row">
<div class="col col--4-of-12">
				<div class="roadmapbox box">
					<img class="img-responsive iconroadmap" src="img/icon_roadmap_done.svg" alt="App Icon">
					<h5>v.5:<br>October 2017:</h5>
					<p class="roadmapinfo">Initial Coin Offering (17.9 billion DCN, 10000 contributors)</p>
				</div>
</div>

<div class="col col--4-of-12">
				<div class="roadmapbox box">
					<img class="img-responsive iconroadmap" src="img/icon_roadmap_done.svg" alt="App Icon">
					<h5>v.6:<br>November 2017:</h5>
					<p class="roadmapinfo">DentaVox Market Research Platform</p>
				</div>
</div>
</div>

		<div class="row">
			<div class="col col--4-of-12">
				<div class="roadmapbox box">
					<img class="img-responsive iconroadmap" src="img/icon_roadmap_done.svg" alt="App Icon">
					<h5>v.7:<br>November 2017: </h5>
					<p class="roadmapinfo">DentaCare Mobile App</p>
				</div>
			</div>

			<div class="col col--4-of-12">
				<div class="roadmapbox box">
					<img class="img-responsive iconroadmap" src="img/icon_roadmap_done.svg" alt="App Icon">
					<h5>v.8:<br>April 2018: </h5>
					<p class="roadmapinfo">Dentacoin Integrated Platform</p>
				</div>
			</div>
		</div>

	<div class="row">
			<div class="col col--4-of-12">
				<div class="roadmapbox box">
					<img class="img-responsive iconroadmap" src="img/icon_roadmap.svg" alt="App Icon">
					<h5>v.9:<br>December 2018: </h5>
					<p class="roadmapinfo">Dentacoin Assurance</p>
				</div>
			</div>

			<div class="col col--4-of-12">
				<div class="roadmapbox box">
					<img class="img-responsive iconroadmap" src="img/icon_roadmap.svg" alt="App Icon">
					<h5>v.10:<br>March 2019: </h5>
					<p class="roadmapinfo">Dental Health Database</p>
				</div>
			</div>
	</div>

	</div>
	</div>

	</div>
</section>
