<section class="container-fluid">
	<div class="container contentwrap">

			<div class="row">
				<div class="col col--4-of-12 col col--centered">
					<h2>Join the Largest Dental Community! </h2>
				</div>
			</div>

			<div class="row">
				<div class="col col--4-of-12 col col--centered">
					<h3>100K+ supporters, 20K+ token holders</h3>
				</div>
			</div>

				<div class="row">
					<div class="col col--3-of-12 col col--push-2-of-12">
						<img class="img-responsive icons" src="img/buy_DCN_icon.svg" alt="App Icon">
						<h4>
							Buy DCN
						</h4>
						<p class="infotxt">
directly with a card or exchange it to 100+ altcoins <a href="#">Here</a>
						</p>
					</div>
					<div class="col col--3-of-12 col col--push-2-of-12">
						<img class="img-responsive icons" src="img/wallet_icon.svg" alt="App Icon">
						<h4>
							Wallet
						</h4>
						<p class="infotxt">
Manage your Dentacoin tokens through our website. <a href="#">Here</a>
						</p>
					</div>

				</div>


	</div>
</section>
